<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="header">
          <h4 class="title">Информация о магазине</h4>
        </div>
        <div class="content">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Название компании</label>
                  <input type="text" class="form-control border-input" placeholder="ОАО Всё для леворуких">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Веб сайт</label>
                  <input type="text" class="form-control border-input" placeholder="moko.by">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Страна</label>
                  <input type="text" class="form-control border-input" placeholder="Беларусь">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Город</label>
                  <input type="text" class="form-control border-input" placeholder="Минск">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Индекс</label>
                  <input type="text" class="form-control border-input" placeholder="Индекс">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Адрес</label>
                  <input type="text" class="form-control border-input" placeholder="Адрес">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Почтовый ящик для уведомлений</label>
                  <input type="email" class="form-control border-input" placeholder="example@gmail.com">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5">
                <div class="form-group">
                  <label>Текст для "Поделиться в социальных сетях"</label>
                  <textarea class="form-control border-input" rows="3">Например, 'Мне очень понравилось это место, обязательно приходите!'
                  </textarea>
                </div>
              </div>
              <div class="col-md-7">
                <div class="form-group">
                  <label>Информация о магазине</label>
                  <textarea class="form-control border-input" rows="3">Здесь вы можете описать магазин
                  </textarea>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-info btn-fill btn-wd">Обновить информацию</button>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
