        <div class="col-lg-4 col-md-5">
            <div class="card card-user">
                <div class="image" [ngClass]="{'hovered': hoveredBG}">
                    <img *ngIf="!bgResult" src="assets/img/background.jpg" alt="..."/>
                    <img *ngIf="bgResult" [src]="bgResult" alt="..."/>
                </div>
                <div class="content">
                    <div class="author">
                        <img *ngIf="!iconResult" class="avatar border-white"
                             [ngClass]="{'hovered': hoveredIcon}" src="assets/img/faces/face-2.jpg"/>
                        <img *ngIf="iconResult" class="avatar border-white"
                             [ngClass]="{'hovered': hoveredIcon}" [src]="iconResult"/>
                        <h4 class="title">Название приложения<br/>
                            <br>
                        </h4>
                    </div>

                    <div class="col-md-6 input-wrapper text-center" (mouseenter)="hovered(true, 'hoveredBG')"
                         (mouseleave)="hovered(false, 'hoveredBG')">
                        <span class="btn btn-rose btn-round btn-file">
                            <span class="fileinput-new">Фон</span>
                            <input type="file" name="..." (change)="upLoadBackground($event, 'bgResult')">
                        </span>
                    </div>

                    <div class="col-md-6 input-wrapper text-center" (mouseenter)="hovered(true, 'hoveredIcon')" (mouseleave)="hovered(false, 'hoveredIcon')">
                        <span class="btn btn-rose btn-round btn-file">
                            <span class="fileinput-new">Иконка</span>
                            <input type="file" name="..." (change)="upLoadBackground($event, 'iconResult')">
                        </span>
                    </div>

                </div>
                <hr>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">
                            <h5>руб.<br/>
                                <small>Валюта</small>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 class="title">Разделы приложения</h4>
                </div>
                <div class="content">
                    <ul class="list-unstyled team-members">
                        <li>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="avatar2">
                                        <img src="assets/img/faces/face-0.jpg" alt="Circle Image"
                                             class="img-circle img-no-padding img-responsive">
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    Новости
                                    <br/>
                                    <span class="text-muted"><small>Offline</small></span>
                                </div>

                                <div class="col-xs-3 text-right">
                                    <button class="btn btn-sm btn-success btn-icon"><i class="fa fa-cog"></i>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <div class="header">
                    <h4 class="title">Информация о приложении</h4>
                </div>
                <div class="content">
                    <form>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Уникальное имя</label>
                                    <input type="text" class="form-control border-input" disabled placeholder="Ваше уникальное имя">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Название приложения</label>
                                    <input type="text" class="form-control border-input" placeholder="Доставка кофе">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Ваш почтовый ящик</label>
                                    <input type="email" class="form-control border-input" placeholder="example@gmail.com">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Имя владельца</label>
                                    <input type="text" class="form-control border-input" placeholder="Иван">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Фамилия владельца</label>
                                    <input type="text" class="form-control border-input" placeholder="Васильевич">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Номер телефона</label>
                                    <input type="tel" class="form-control border-input" placeholder="+7 *** ...">
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd">Обновить информацию</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div>ВОТ ЗДЕСЬ ПИХАТЬ ВСЕ НОВШЕСТВА</div>
        </div>
