<div class="col-md-12">
    <h4>Здесь Вы можете добавлять изображения в галерею.</h4>
</div>
<div class="col-md-12">
    <button class="btn btn-info btn-fill btn-wd"
            data-toggle="modal" data-target="#galleryModal">Добавить
    </button>
    <p></p>
</div>
<div class="col-lg-3 col-md-3">
    <div class="card card-user">
        <div class="image" [ngClass]="{'hovered': hoveredBG}">
            <img *ngIf="!bgResult" src="assets/img/background.jpg" alt="..."/>
            <img *ngIf="bgResult" [src]="bgResult" alt="..."/>
        </div>
        <hr>

        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-info btn-fill btn-danger"
                        data-toggle="modal" data-target="#galleryzModal">Удалить
                </button>
            </div>
        </div>
        <hr>

    </div>
</div>