<!-- Modal -->
<div class="modal fade" id="categoriesModal" tabindex="-1"  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавить категорию</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="content">
                <form>
                  <div class="form-group">
                    <h5>Название</h5>
                    <input type="text" class="form-control border-input" placeholder="Пример заголовка.">
                  </div>
                  <div class="form-group">
                    <label>Описание</label>
                    <textarea class="form-control border-input" rows="5"></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Добавить</button>
      </div>
    </div>
  </div>
</div>