<div class="col-md-12">
    <div class="card">
        <div class="card-header row">
            <div class="col-md-6">
                <h4 class="card-title">Продукты</h4>
                <p class="category">Здесь Вы можете добавлять/удалять и редактировать продукты.</p>
            </div>
            <div class="col-md-6">
                <button class="btn btn-info btn-fill btn-wd pull-right"
                        data-toggle="modal" data-target="#productModal">Добавить
                </button>
            </div>

        </div>
        <div class="card-content table-responsive table-full-width">
            <table class="table">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Картинка</th>
                    <th>Описание</th>
                    <th>Категория</th>
                    <th class="text-right">Опции</th>
                </tr>
                </thead>
                <tbody>
                <!---->
                <tr>
                    <td>Носки в клеточку</td>
                    <td class="image-75px">
                        <div class="image">
                            <img alt="..." src="../../assets/img/angular2-logo.png">
                        </div>
                    </td>
                    <td>Носки на выход, если вы хотите произвести впечатление на сверстников, они для Вас!</td>
                    <td>Зимние носки</td>
                    <td class="td-actions text-right">
                        <a class="btn btn-success btn-simple btn-xs" rel="tooltip" title=""
                           data-original-title="Edit Profile">
                            <i class="ti-pencil-alt"></i>
                        </a>
                        <a class="btn btn-danger btn-simple btn-xs" rel="tooltip" title="" data-original-title="Remove">
                            <i class="ti-close"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
