<!-- Modal -->
<div class="modal fade" id="productModal" tabindex="-1"  aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Добавить продукт</h4>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <div class="card" style="box-shadow: none;">
                <div class="header">
                  <h5 class="title">Изображение</h5>
                </div>
                <div class="image" style="height: 175px; margin-top: 28px;">
                  <img *ngIf="!bgResult" src="assets/img/background.jpg" alt="..."/>
                  <img *ngIf="bgResult" [src]="bgResult" alt="..."/>
                  <div class="col-md-12 input-wrapper content text-center">
                                    <span class="btn btn-rose btn-round btn-file">
                                        <span class="fileinput-new">Выбрать</span>
                                        <input type="file" name="..." (change)="upLoadBackground($event, 'bgResult')">
                                    </span>
                  </div>
                </div>
              </div>
              <div class="dropdown">
                <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">
                  Regular
                  <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="#paper">Action</a></li>
                  <li><a href="#paper">Another action</a></li>
                  <li><a href="#paper">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#paper">Separated link</a></li>
                  <li class="divider"></li>
                  <li><a href="#paper">One more separated link</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-8 col-md-7">
              <div class="content">
                <form>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="form-group">
                        <h5>Имя продукта</h5>
                        <input type="text" class="form-control border-input" placeholder="Пример имени.">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <h5>Цена</h5>
                        <input type="text" class="form-control border-input" placeholder="Только значение, без валюты">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label>Описание</label>
                        <textarea class="form-control border-input" rows="5"></textarea>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отменить</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Добавить</button>
      </div>
    </div>
  </div>
</div>